<!--header.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- blogTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Sriracha&display=swap" rel="stylesheet">
  </head>
  <body>
 <div id="site" class="site">
   <header id="site-header" class="site-header">
    <%- blogTitle %>
   </header>
   <nav id="menu" class="menu">
     <div class="responsive-menu">Menu</div>
     <div class="login tooltip">
      <a href="/login/dashboard"><img src="images/login.png" /></a>
      <span class="tooltiptext">Login to dashboard</span>
    </div><!--tooltip-->
   </nav>