<!--header.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- blogTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bayon|Anton|Koulen|Odor+Mean+Chey|Shrikhand|Sriracha&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/util.js"></script>
  </head>
  <body>
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
  
 <div id="site" class="site">
   <header id="site-header" class="site-header">
    <%- blogTitle %>
   </header>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <nav id="menu" class="menu">
  
     <div class="topnav" id="myTopnav">
      <a href="/" >Home</a>
      <a href="/category/National">National</a>
      <a href="/category/World">World</a>
      <a href="/category/Opinion">Opinion</a>
      <a href="/page/k8x1lquz2131njy2ujz">Contact</a>
      <a href="/page/k8x1m2dqqdob99m24b">About</a>
      <a href="javascript:void(0);" class="icon" onclick="util.setMobileMenu()">
        <i class="fa fa-bars"></i>
      </a>
     </div>

     <div class="login tooltip">
      <a href="/login/dashboard"><img src="/images/login.png" /></a>
      <span class="tooltiptext">Login to dashboard</span>
     </div><!--tooltip-->
   </nav>
   <script>
    const util = new Utility();
    util.setActiveMenu();
   </script>