<!--dashboard.ejs-->
<%- include("partials/header.ejs") %>

<div id="main-content" class="main-content">
  <%- include("partials/sidebar.ejs") %>
  <div id="content" class="content">
    Welcome to dashboard!!
  </div>
</div><!--main-content-->

<%- include("partials/footer.ejs") %>