<!--login.ejs-->
<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Sriracha&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/site_logo.png">
  </head>
  <body>
    <div class="form-outer">
    <div class="title">Login Page</div>
    <div class="info">
      Enter your username and password to go to Dashboard.
    </div>
    <form action="/login" method="post">    
      <div class="input-wrapper">
        <label>Username: </label>
        <input type="text" name="username"/>
      </div>
      <div class="input-wrapper">
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
      <div class="input-wrapper">
        <label></label>
        <input class="submit" type="submit" value="Submit"/>
      </div> 
    </form>
    </div>
  </body>
</html>