<!--dashboard.ejs-->
<%- include("partials/header.ejs") %>

<style>
  .posting .title{
    width:100%;
    padding:5px 10px;
    box-sizing:border-box;
    font:16px/1.5 Anton,Koulen;
    margin-bottom:5px;
    color:rgb(107, 104, 104);
  }
  .posting .category{
    padding:5px;
  }
  .posting #datepicker{
    padding:5px;
    max-width:80px;
  }
  .posting label{
    margin-top:5px;
    padding:5px;
    display:inline-block;
    border:1px solid grey;
  }
</style>

<div id="main-content" class="main-content">
  <%- include("partials/sidebar.ejs") %>
  <div id="content" class="content">
    <div class="posting">

      <form class="post-submit" action="/login/posting" method="post">
        <input name="title" class="title" placeholder="Post title" required="required" type="text" />
        <textarea required="required" name="content" id="editor" ></textarea>
        <script>
          CKEDITOR.replace( 'editor', {
            height:320,
          });

          $(document).ready(function() {
            $("#datepicker").datepicker();
            $("#datepicker").attr('value',((new Date()).toLocaleDateString('km-KH')));
          });
        </script> 
  
        <label>Publish in category:
        <select name="category" class="category">
          <option value="News">News</option>
        </select>
      </label>

        <label>Date:
        <input name="date" type="text" id="datepicker">
      </label>
  
        <label>Publish as:
        <select name="posttype" class="category">
          <option value="post">post</option>
          <option value="page">page</option>
        </select>
        </label>
  
        <input id="submit" style="display:none;" class="submit" type="submit" value="submit">
      </form>
  
    </div><!--posting-->
  </div><!--content-->
</div><!--main-content-->

<%- include("partials/footer.ejs") %>