<!--header.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- blogTitle %></title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Nokora|Odor+Mean+Chey|Bayon|Koulen|Anton&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/simplePagination.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/simplePagination.css"/>
    <script type="text/javascript" src="/javascripts/util.js"></script>
  </head>
  <body>
 <div id="site" class="site">
   <header id="site-header" class="site-header">
    <nav id="menu" class="menu">
      <a href="/login/dashboard"><div><img src="/images/site_logo.png" /></div></a>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="topnav" id="myTopnav">
        <a class="active"><%- blogTitle %></a>
        <a href="/login/posting">Post</a>
        <a href="/login/categorizing">Category</a>
        <a href="/login/paging">Page</a>
        <a target="_blank" href="/login/upload">Media</a>
        <a href="#">User</a>
        <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
          <i class="fa fa-bars"></i>
        </a>
        <script>
          function mobileMenu() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
              $('#menu').css("align-items","start");
            } else {
              x.className = "topnav";
              $('#menu').css("align-items","center");
            }
          }
        </script>
      </div><!--topnav-->

      <div class="logout tooltip">
        <a href="/login/logout"><img src="/images/logout.png" /></a>
        <span class="tooltiptext">Logout to homepage</span>
      </div><!--tooltip-->
     </nav>
   </header>