<!--header.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- blogTitle %></title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Sriracha&display=swap" rel="stylesheet">
  </head>
  <body>
 <div id="site" class="site">
   <header id="site-header" class="site-header">
    <nav id="menu" class="menu">
      <a href="/"><div><img src="/images/site_logo.png" /></div></a>
      <div class="responsive-menu"><%- blogTitle %></div>
      <div class="logout tooltip">
        <a href="/login/logout"><img src="/images/logout.png" /></a>
        <span class="tooltiptext">Logout to homepage</span>
      </div><!--tooltip-->
     </nav>
   </header>